{% extends "base.html" %}

{% block title %}Adab Menziarahi Kubur{% endblock %}

{% block content %}
<div class="container mt-5">
    <hr class="my-5 border-light" style="border-color: rgb(18, 18, 18);">
    <h1>Adab Menziarahi Kubur</h1>
    <div class="mt-4" style="max-width: 800px; margin: auto; text-align: justify;">
        <p>
            Islam mengajar umatnya agar sentiasa memelihara adab dan peraturan sebagai tanda penghormatan terhadap tempat persemadian jenazah orang Islam.
        </p>

        <p>Ketika berada di tanah perkuburan, umat Islam sama ada petugas, waris atau orang yang berziarah hendaklah sentiasa mematuhi garis panduan berikut:</p>
        <ul>
            <li>Hendaklah berpakaian menutup aurat.</li>
            <li>Digalakkan berada dalam keadaan berwuduk.</li>
            <li>Disunatkan memberi salam secara umum kepada sekalian ahli kubur ketika masuk ke kawasan tanah perkuburan Islam dan mendoakan semoga rahmat dan kesejahteraan ke atas mereka.</li>
            <li>Disunatkan memberi salam secara khusus kepada ahli kubur yang diziarahi dalam keadaan berdiri rapat di tepi kuburnya dan menghadap ke arah muka jenazah serta membelakangkan kiblat.</li>
            <li>Disunatkan membaca ayat-ayat suci al-Quran dan menghadiahkan pahalanya kepada si mati.</li>
            <li>Disunatkan berdoa kepada si mati menghadap ke arah kiblat.</li>
            <li>Digalakkan menyebut kebaikan si mati dan bukan keburukannya.</li>
            <li>Wanita dibolehkan menziarahi kubur, jika tidak mendatangkan fitnah.</li>
            <li>Pelawat bukan Islam dibenarkan menziarahi tanah perkuburan Islam dengan menjaga tatasusila dan berpakaian sopan.</li>
        </ul>
    </div>
    <hr class="my-5 border-light" style="border-color: rgb(18, 18, 18);">
</div>

{% endblock %}
